<%

last_key = params["reference_type"] || "all"
last_id = session["annoucements_index_#{last_key}"] || 0
session["annoucements_index_#{last_key}"] = @announcements.first.id

%>
<div class="row">
  <div class="col-8">
    <h4>
    Announcements
    <small>
    <%= link_to("all", announcement_index_path) %>
    <%= link_to("devapps", announcement_index_path(reference_type: "DevApp::Entry")) %>
    <%= link_to("meetings", announcement_index_path(reference_type: "Meeting")) %>
    <%= link_to("consultations", announcement_index_path(reference_type: "Consultation")) %>
    <%= link_to("lobbying", announcement_index_path(reference_type: "LobbyingUndertaking")) %>
    </small>
    </h4>
  </div>

  <div class="col-4 text-end">
    Next:
    <% [25, 50, 100].each do |limit| %>
      <%= link_to(
        "#{limit}", 
        announcement_index_path(
          before_id: @announcements.last&.id,
          reference_type: params[:reference_type],
          limit: limit
        )
      ) %>
    <% end %>
  </div>
</div>

<div class="owrows">
<% @announcements.each do |a|
  message = a.message
  message = [a.message, a.reference_context].join(" ") if a.reference_type == "LobbyingUndertaking"
  %>
  <div class="row">
    <div class="col-9">
      <%= link_to(message, a.reference_link) %>
    </div>
    <div class="col-3 text-nowrap" style="text-align: right">
      <%= raw("<span class=\"new_announcement_badge\">(new)</span>") if a.id > last_id %>
      <%= a.created_at.in_time_zone("America/New_York").strftime("%Y-%m-%d") %>
    </div>
  </div>
<% end %>
</div>
