<%
last_key = params["reference_type"] || "all"
last_id = session["annoucements_index_#{last_key}"] || 0
session["annoucements_index_#{last_key}"] = @announcements.first&.id
%>
<div class="row">
  <div class="col-6">
    <h4>
    Announcements
    </h4>
  </div>
  <div class="col-6">
    <strong>Filter by:</strong>
    <%= link_to "All", announcement_index_path, class: "btn btn-sm #{'btn-primary' if params[:reference_type].blank?} #{'btn-outline-primary' if params[:reference_type].present?}" %>
    <% @reference_types.each do |reference_type| %>
      <%= link_to reference_type, announcement_index_path(reference_type: reference_type), class: "btn btn-sm #{'btn-primary' if params[:reference_type] == reference_type} #{'btn-outline-primary' if params[:reference_type] != reference_type}" %>
    <% end %>
  </div>
</div>

<% 
prev_date = nil
@announcements.each do |a| 
  is_new_date = a.created_at.to_date != prev_date
  if is_new_date
    %>
    <h5 style="padding-top: 10px;"><%= a.created_at.in_time_zone("America/New_York").strftime("%Y-%m-%d") %></h5>
    <%
  end
  prev_date = a.created_at.to_date
  message = [a.message, a.reference_context].join(" ")
  %>
  <div class="row" style="margin-top: 2px;">
    <div class="col-12">
      <i class="<%= a.font_awesome_class %>"></i>
      <%= link_to(message, a.reference_link) %>
    </div>
  </div>
<% end %>

Next:
<% [25, 50, 100].each do |limit| %>
  <%= link_to(
    "#{limit}", 
    announcement_index_path(
      before_id: @announcements.last&.id,
      reference_type: params[:reference_type],
      limit: limit
    ),
    class: "btn btn-sm btn-primary"
  ) %>
<% end %>
