<div class="row">
  <div class="col-8">
    <h4>
    Announcements
    <small>
    <%= link_to("all", announcement_index_path) %>
    <%= link_to("devapps", announcement_index_path(reference_type: "DevApp::Entry")) %>
    <%= link_to("meetings", announcement_index_path(reference_type: "Meeting")) %>
    <%= link_to("consultations", announcement_index_path(reference_type: "Consultation")) %>
    <%= link_to("lobbying", announcement_index_path(reference_type: "LobbyingUndertaking")) %>
    </small>
    </h4>
  </div>

  <div class="col-4 text-end">
    Next:
    <% [10, 25, 50, 100, 250].each do |limit| %>
      <%= link_to(
        "#{limit}", 
        announcement_index_path(
          before_id: @announcements.last&.id,
          reference_type: params[:reference_type],
          limit: limit
        )
      ) %>
    <% end %>
  </div>
</div>

<div class="owrows">
<% @announcements.each do |a| %>
  <div class="row">
    <div class="col-10">
      <%
      message = a.message
      message = [a.message, a.reference_context].join(" ") if a.reference_type == "LobbyingUndertaking"
      %>
      <%= link_to(message, a.reference_link) %>
    </div>
    <div class="col-2" style="text-align: right;">
      <%= a.created_at.in_time_zone("America/New_York").strftime("%Y-%m-%d %H:%M") %>
    </div>
  </div>
<% end %>
</div>



