<div class="row">
  <div class="col-sm-6">
    <b>OttWatch</b> is dedicated to making it easier to be part of the political conversation in Ottawa.<br/>
  </div>
  <div class="col-sm-6">
    This is "version2" of OttWatch. Check out <a href="http://ottwatch.ca">version 1</a> which has a lot
    more content available. Version 2 will continue to grow in scope, as time allows.
  </div>
</div>

<div style="margin-top: 10px; margin-bottom: 10px;">
  <h2>Upcoming Meetings</h2>
</div>
<div class="owrows">
  <% @meetings.each do |m| %>
    <% meeting_url = "/meeting/#{m.reference_id}#{m.reference_guid}" %>
    <div class="row">
      <div class="col-sm-3">
        <%= link_to(m.start_time.in_time_zone("America/New_York").strftime("%b %d %H:%M"), meeting_url) %>
      </div>
      <div class="col-md-7">
        <%= m.committee.name %>
      </div>
      <div class="col-md-2" style="text-align: right;">
        <%= m.items.count %> items
      </div>
    </div>
  <% end %>
</div>
<div style="margin-top: 10px; margin-bottom: 10px;">
  <h2>Recent announcements</h2>
</div>
<div class="owrows">
  <% @announcements.each do |a| %>
    <div class="row">
      <div class="col-sm-3">
        <%= link_to(a.reference_context || a.reference.class, a.reference_link) %>
      </div>
      <div class="col-md-7">
        <%= a.message %>
      </div>
      <div class="col-md-2" style="text-align: right;">
        <%= a.created_at.in_time_zone("America/New_York").strftime("%Y-%m-%d") %>
      </div>
    </div>
  <% end %>
</div>