<div style="margin-top: 50px;">
<center>
<b>OttWatch</b> is dedicated to making it easier to be part of the political conversation in Ottawa.<br/>
<br/>
Version: <%= Version.current %><br/>
<br/>
Time: <%= Time.now.utc %><br/>
<br/>
<%= link_to "Development Applications", devapp_index_path %>
</center>
</div>

<h1>Recent announcements</h1>
<table>
<tr>
<th>Time</th>
<th>Message</th>
</tr>
<% @announcements.each do |a| %>
  <tr>
  <td><%= a.created_at.in_time_zone("America/New_York").strftime("%Y-%m-%d %H:%M:%S") %></td>
  <td><%= link_to(a.message, a.link_to_reference) %></td>
  </tr>
<% end %>
</table>
