<div class="row">
  <div class="col-sm-6">
    <b>OttWatch</b> is dedicated to making it easier to be part of the political conversation in Ottawa.<br/>
  </div>
  <div class="col-sm-6">
    <p>
    This is "version2" of OttWatch. Check out <a href="http://ottwatch.ca">version 1</a> which has a lot
    more content available. Version 2 will continue to grow in scope, as time allows.
    </p>
    <p>
    <%
    service_code = "2000040-1"
    # service_code = "2000186-1"
    sr = ServiceRequest.where(service_code: service_code).order(requested_datetime: :desc).first
    last_bike_update = sr.requested_datetime
    %>
    It has been <b><%= (Time.now - last_bike_update).to_i/60 %> minutes</b> 
    since the last "parked/stopped in bike-lane" 311 request was reported.

    <b>SR<%= sr.service_request_id %></b> was filed at 
    <%= sr.requested_datetime.in_time_zone("America/New_York").strftime("%Y-%m-%d %H:%M") %>     
    for <a href="https://www.google.com/maps/@<%= sr.lat %>,<%= sr.lon %>,99m/data=!3m1!1e3"><%= sr.address %></a>.
    </p>
  </div>
</div>

<div style="margin-top: 10px; margin-bottom: 10px;">
  <h2>Upcoming Meetings</h2>
</div>
<div class="owrows">
  <% @meetings.each do |m| %>
    <% meeting_url = "/meeting/#{m.reference_id}#{m.reference_guid}" %>
    <div class="row">
      <div class="col-sm-3">
        <%= link_to(m.start_time.in_time_zone("America/New_York").strftime("%b %d %H:%M"), meeting_url) %>
      </div>
      <div class="col-md-9">
        <%= m.committee.name %>
      </div>
    </div>
  <% end %>
</div>
<div style="margin-top: 10px; margin-bottom: 10px;">
  <h2>Recent announcements</h2>
</div>
<div class="owrows">
  <% @announcements.each do |a| %>
    <div class="row">
      <div class="col-sm-3">
        <%= link_to(a.reference_context || a.reference.class, a.reference_link) %>
      </div>
      <div class="col-md-7">
        <%= a.message %>
      </div>
      <div class="col-md-2" style="text-align: right;">
        <%= a.created_at.in_time_zone("America/New_York").strftime("%Y-%m-%d") %>
      </div>
    </div>
  <% end %>
</div>