<%
content_for(:html_title) do
	title = "Campaign Donation from (#{@donation.name})"
	title << " to (#{@donation.candidate_return.candidate.last}, #{@donation.candidate_return.candidate.first})"
	title << " for $#{@donation.amount}"
	title << " in #{@donation.candidate_return.candidate.election.date.year}"
end
%>

<table>
<tr><th>Donor Name</th><td><%= @donation.name %></td></tr>
<!--
<tr><th>Donor Type</th><td>TODO</td></tr>
-->
<tr><th>Donation Date</th><td><%= @donation.donation_date %></td></tr>
<tr><th>Amount</th><td><%= @donation.amount %></td></tr>
<tr><th>Address</th><td><%= @donation.address %></td></tr>
<tr><th>City</th><td><%= @donation.city %></td></tr>
<tr><th>Province</th><td><%= @donation.prov %></td></tr>
<tr><th>Postal</th><td><%= @donation.postal %></td></tr>
<tr><th>Candidate</th><td>
	<%= @donation.candidate_return.candidate.last %>,
	<%= @donation.candidate_return.candidate.first %>
	(Election: <%= @donation.candidate_return.candidate.election.date %>)
</td></tr>
<!--
TODO
<tr><th>Location</th><td>con057793.pdf, page 6, 0% down from top</td></tr>
-->
</table>

<%
prev_donation = CandidateDonation.where("id < ?", @donation.id).order(id: :desc).limit(1).first&.id
next_donation = CandidateDonation.where("id > ?", @donation.id).order(id: :asc).limit(1).first&.id
%>

<a href="<%= prev_donation %>">Previous</a>
<a href="<%= next_donation %>">Next</a>