<h1>Candidate: <%= @candidate.name %></h1>

<table>
<%
@candidate.attributes.keys.reject{|k| k == "name" }.each do |k|
  %>
  <tr>
  <td><%= k %>
  <td><%= @candidate.send(k.to_sym) %></td>
  </tr>
  <%
end
%>

<tr>
<td>Campaign Returns</td>
<td>
  <ul>
  <% @candidate.campaign_returns.each do |cr| %>
  <li>
  <%= link_to(cr.created_at, campaign_return_path(cr)) %>
  </li>
  <% end %>
  <li><%= link_to('Upload Campaign Return', new_campaign_return_path(candidate: @candidate)) %></li>
  </ul>
</td>
</tr>
</table>
