<h1>Lobbying Activities</h1>

<div class="owrows">
<% @undertakings.each do |u| %>
  <div class="row">
    <div class="col-sm-3">
      <b><%= u.lobbyist_name %></b><br/>
      <%= u.lobbyist_position %><br/>
      <%= u.lobbyist_reg_type %>
    </div>
    <div class="col-sm-9">
      <b><%= link_to u.subject, "/lobbying/#{u.id}" %></b>: <%= u.issue %>
    </div>
  </div>
<% end %>
</div>

<% if @undertakings.count > 0 %>
<center>
<%= link_to "More...", lobbying_index_path(before_id: @undertakings.last.id, before_created_at: @undertakings.last.created_at) %>
</center>
<% end %>