<h1>Lobbying Activities</h1>

<div class="owrows">
<div class="row">
  <div class="col-sm-3">
    <p class="lead">Lobbyist</p>
  </div>
  <div class="col-sm-7">
    <p class="lead">Subject/Issue</p>
  </div>
  <div class="col-sm-2">
    <p class="lead">Activities</p>
  </div>
</div>
<% @undertakings.each do |u| %>
  <div class="row">
    <div class="col-sm-3">
      <b><%= u.lobbyist_name %></b><br/>
      <%= u.lobbyist_position %><br/>
      <%= u.lobbyist_reg_type %>
    </div>
    <div class="col-sm-7">
      <b><%= link_to u.subject, "/lobbying/#{u.id}" %></b>: <%= u.issue %>
    </div>
    <div class="col-sm-2">
      Latest: <%= @latest[u.id].strftime("%Y-%m-%d") %>
      First: <%= @first[u.id].strftime("%Y-%m-%d") %>
      Total: <%= @counts[u.id] %><br/>
    </div>
  </div>
<% end %>
</div>

<% if @undertakings.count > 0 %>
<center>
<%= link_to "More...", lobbying_index_path(before_id: @undertakings.last.id, before_created_at: @undertakings.last.created_at) %>
</center>
<% end %>