<h1>Lobbying Activities</h1>

<div class="owrows">
<% @undertakings.each do |u| %>
  <div class="row">
    <div class="col-sm-3">
      <b><%= u.client %></b> (by <%= u.lobbyist_name %>)
    </div>
    <div class="col-sm-7">
      <b><%= link_to u.subject, "/lobbying/#{u.id}" %></b>: <%= u.issue %>
    </div>
    <div class="col-sm-2" style="text-align: right;">
      Latest: <%= @latest[u.id].strftime("%Y-%m-%d") %><br/>
      First: <%= @first[u.id].strftime("%Y-%m-%d") %><br/>
      Total: <%= @counts[u.id] %><br/>
    </div>
  </div>
<% end %>
</div>

<% if @undertakings.count > 0 %>
<center>
<%= link_to "More...", lobbying_index_path(before_id: @undertakings.last.id, before_created_at: @undertakings.last.created_at) %>
</center>
<% end %>