<% content_for(:html_title, "Lobbying: #{@undertaking.client_org}") %>

&nbsp;

<div class="row">
  <div class="col-lg-6">
  <h4>Topic/Issue</h4>
  <p>
    <%= @undertaking.issue %><br/>
    <i>(<%= @undertaking.subject %>)</i>
  </p>
  </div>
  <div class="col-lg-6">
    <h4>Lobbyist</h4>
    <b>Client:</b> <%= @undertaking.client %> <i>(<%= @undertaking.client_org %>)</i><br/>
    <b>Lobbyist:</b> <%= @undertaking.lobbyist_name %> <i>(<%= @undertaking.lobbyist_position %>, <%= @undertaking.lobbyist_reg_type %>)</i><br/>
  </div>
</div>

&nbsp;

<div class="row">
  <div class="col-lg-12">
    <h4>Activities</h4>
  </div>
</div>

<% @undertaking.activities.order(activity_date: :desc).each do |a| %>
  <div class="row">
    <div class="col-sm-4"><b>Who was lobbied?</b></div>
    <div class="col-sm-4"><b>Their title</b></div>
    <div class="col-sm-2"><b>When?</nobr></b></div>
    <div class="col-sm-2"><b>By?</b></div>
  </div>
  <div class="row">
    <div class="col-sm-4"><%= a.lobbied_name %></div>
    <div class="col-sm-4"><%= a.lobbied_title %></div>
    <div class="col-sm-2"><nobr><%= a.activity_date %></nobr></div>
    <div class="col-sm-2"><%= a.activity_type %></div>
  </div>
<% end %>

&nbsp;


<h4>External links</h4>

<form method="post" action="<%= LobbyingScanJob::SEARCH_URL%>">
  <%
  j = JSON.parse(@undertaking.view_details)
  j.keys.each do |k|
    %>
    <input type="hidden" name="<%= k %>" value="<%= j[k] %>"/>
    <%
  end
  %>
  <input type="submit" name="Submit" value="View on Ottawa.ca" class="btn btn-primary"/>
</form>


&nbsp;