<hr/>
<div class="row">
  <div class="col-sm-4 text-center">
  </div>
  <div class="col-sm-4 text-center">
    Campaign Return Page (id: <%= @cr_page.id %>) for <%= @cr_page.campaign_return.candidate.name %>.<br/>
    Back to <%= link_to('campaign return', campaign_return_path(@cr_page.campaign_return)) %>.
  </div>
  <div class="col-sm-4 text-center">
    <%= @prev_cr_page ? link_to('prev', campaign_return_page_path(@prev_cr_page), data: { turbo: "false"}) : "prev" %>
    |
    <%= @next_cr_page ? link_to('next', campaign_return_page_path(@next_cr_page), data: { turbo: "false" }) : "next" %>
    <br/>
    <%= link_to('-90', rotate_campaign_return_page_path(@cr_page, dir: -90), data: { turbo: "false"}) %>
    |
    <%= link_to('+90', rotate_campaign_return_page_path(@cr_page, dir: 90), data: { turbo: "false"}) %>
    
  </div>
</div>
<hr/>

<canvas id="canvas" width="2000" height="2000"style="border: solid 1px #c0c0c0;">
</canvas>

<script>
var canvas = document.getElementById("canvas");
var ctx = canvas.getContext("2d");

// ctx.font = "bold 48px serif";
ctx.fillStyle = '#ddd';
ctx.strokeStyle = '#ddd';
ctx.beginPath();
ctx.rect(0, 0, 5000, 5000);
ctx.closePath();
ctx.fill();


ctx.fillStyle = '#000';
ctx.strokeStyle = '#000';
ctx.fillText("... loading page <%= @cr_page.id %> ...", 50, 100);

ctx.fillStyle = '#ff0';
ctx.strokeStyle = '#ff0';

window.onload = function() {
  var canvas = document.getElementById("canvas");
  var ctx = canvas.getContext("2d");
  var img = document.getElementById("page_img");
  ctx.drawImage(img, 0, 0);

  ctx = canvas.getContext("2d");
  ctx.fillStyle = '#f00';
  ctx.strokeStyle = '#f00';
  <%
  @cr_page.campaign_donations.each do |d|
    %>
    ctx.beginPath();
    ctx.arc(<%= d.x %>, <%= d.y %>, 5, 0, Math.PI*2, true); 
    ctx.closePath();
    ctx.fill();
    <%
  end
  %>
};

canvas.addEventListener(
  'click', 
  function(event) { 
    canvas = document.getElementById('canvas');
    x = event.pageX - canvas.offsetLeft;
    y = event.pageY - canvas.offsetTop;

    ctx = canvas.getContext("2d");
    ctx.beginPath();
    ctx.fillStyle = '#f00';
    ctx.strokeStyle = '#f00';
    ctx.arc(x, y, 5, 0, Math.PI*2, true); 
    ctx.closePath();
    ctx.fill();

    document.getElementById('create_donation_form');
    document.getElementById('x').value = x;
    document.getElementById('y').value = y;
    document.getElementById('create_donation_form').submit();
  }, 
  false
);

</script>

<%= form_with url: create_donation_campaign_return_page_path, id: :create_donation_form do |form| %>
  <%= form.hidden_field :x %>
  <%= form.hidden_field :y %>
<% end %>

<%
img_blob = @cr_page.rotation == 0 ? @cr_page.img : @cr_page.img.variant(rotate: @cr_page.rotation)
%>
<%= image_tag(url_for(img_blob), class: "img-fluid", style: "display: none", id: "page_img") %>
