<table class="table table-bordered table-hover table-condensed">
<tr>
  <th>Amount</th>
  <th>Name</th>
  <th>Address</th>
  <th>City</th>
  <th>Prov</th>
  <th>Postal</th>
  <th>Candidate</th>
  <th>Ward</th>
  <th>Election Date</th>
</tr>
<%

@donations.each do |d|
  %>
  <tr>
    <td><%= d.amount %></td>
    <td>
      <a href="?name=<%= d.name %>">
      <%= d.name %>
      </a>
    </td>
    <td><%= d.address %></td>
    <td><%= d.city %></td>
    <td><%= d.prov %></td>
    <td>
      <a href="?postal=<%= d.postal %>">
      <%= d.postal %>
      </a>
    </td>
    <td>
      <a href="?candidate_id=<%= d.candidate_return.candidate.id %>">
      <%= d.candidate_return.candidate.last %>,
      <%= d.candidate_return.candidate.first %>
      </a>
    </td>
    <td><%= d.candidate_return.candidate.ward %></td>
    <td><%= d.candidate_return.candidate.election.date %></td>
  </tr>
  <%
end
%>
</table>

<h1>Search</h1>

<form action="legacy" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="inputDonor">Donor Name</label>
    <div class="col-sm-9">
      <input type="text" id="inputDonor" class="form-control" name="name" placeholder="optional" value=""/> 
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="inputPostal">Postal</label>
    <div class="col-sm-9">
      <input type="text" id="inputPostal" class="form-control" name="postal" placeholder="optional" value=""/> 
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Search</button> 
  </div>
</form>

<h1>Browse By Candidate</h1>
<ul>
<%
V1::Election.all.order(id: :desc).each do |e|
  %>
  <li><%= e.date %> Election</li>
  <ul>
  <%
  e.candidates.order(:ward, :last, :first).each do |c|
    %>
    <li>
      <a href="?candidate_id=<%= c.id %>"><%= c.last %>, <%= c.first %></a> Ward: <%= c.ward %>
    </li>
    <%
  end
  %>
  </ul>
  </li>
  <%
end
%>
</ul>