<h3>Election <%= @election.date %></h3>

<% prev_ward = nil %>
<% @election.candidates.order(:ward, :name, :withdrew).each do |c| %>
  <%
  if prev_ward != c.ward
    %>
    <div class="row" style="background: #c0c0c0;">
      <div class="col-sm-12"><h5><%= c.ward == 0 ? "Mayor" : "Ward #{c.ward}: #{Election.ward_name(c.ward)}" %></h5></div>
    </div>
    <%
  end
  prev_ward = c.ward
  withdrew_style = ""
  withdrew_style = "text-decoration: line-through; " if c.withdrew
  %>
  <div class="row">
    <div class="col-sm-3" style="<%= withdrew_style %> background: #f0f0f0;"><%= c.name %></div>
    <div class="col-sm-2">
      <% if c.telephone.present? %>
        <a href="tel:<%= c.telephone %>"><%= c.telephone %></a>
      <% end %>
    </div>
    <div class="col-sm-3">
      <% if c.email.present? %>
        <a href="mailto:<%= c.email %>"><%= c.email %></a>
      <% end %>
    </div>
    <div class="col-sm-3">
      <% if c.website.present? %>
        <a href="https://<%= c.website %>"><%= c.website %></a>
      <% end %>
    </div>
  </div>
<% end %>
