<table>
<tr>
  <th>Donor Name</th>
  <td><%= @donation.name %></td>
</tr>
<tr>
  <th>Address</th>
  <td><%= @donation.address %></td>
</tr>
<tr>
  <th>City</th>
  <td><%= @donation.city %></td>
</tr>
<tr>
  <th>Province</th>
  <td><%= @donation.prov %></td>
</tr>
<tr>
  <th>Postal</th>
  <td><%= @donation.postal %></td>
</tr>
<tr>
  <th>Amount</th>
  <td><%= @donation.amount %></td>
</tr>
<tr>
  <th>Candidate</th>
  <td><%= @donation.candidate_return.candidate.last %>, <%= @donation.candidate_return.candidate.first %></td>
</tr>
<tr>
  <th>Election</th>
  <td><%= @donation.candidate_return.candidate.election.date %></td>
</tr>
<tr>
  <th>Ward</th>
  <td><%= @donation.candidate_return.candidate.ward %></td>
</tr>
</table>