<h1><%= @stop_data[:no] %> <%= @stop_data[:desc] %></h1>
<%
@stop_data[:routes].each do |r|
  %>
  <h2>
    <%= r[:no] %>
    <%= r[:heading] %>
  </h2>
  <ul>
    <%
    r[:trips].each do |t|
      %>
      <li>
      <%= t[:in] %>m, per <%= t[:per] %>
      <%
        if t[:per] == :gps
          %>
          (<%= t[:age] %>)
          <%
        end
      %>
      </li>
      <%
    end
    %>
  </ul>
  <%
end
%>
