<% content_for :html_title, "#{@stop_data[:no]}: #{@stop_data[:desc]}" %>

<h3><%= @stop_data[:no] %> <%= @stop_data[:desc] %></h3>
<%
@stop_data[:routes].each do |r|
  %>
  <h4>
    <%= r[:no] %>
    <%= r[:heading] %>
  </h4>
  <ul>
    <%
    r[:trips].each do |t|
      %>
      <li>
      <%= t[:in] %>m, per <%= t[:per] %>
      <%
        if t[:per] == :gps
          %>
          (<%= t[:age] %>)
          <%
        end
      %>
      </li>
      <%
    end
    %>
  </ul>
  <%
end
%>
