<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Development Applications</h1>
    <div class="btn-group" role="group" aria-label="View toggle">
      <%= link_to "List", devapp_index_path, class: "btn btn-outline-primary active" %>
      <%= link_to "Map", devapp_map_path, class: "btn btn-outline-primary" %>
    </div>
  </div>

  <div class="list-group list-group-flush">
    <% @devapps.each do |d| %>
      <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <%= link_to "/devapp/#{d.app_number}" do %>
            <h5 class="mb-1"><%= d.app_number %></h5>
          <% end %>
          <small><%= d.updated_at.strftime("%B %d, %Y") %></small>
        </div>
        <p class="mb-1"><strong><%= d.app_type %></strong></p>
        <p class="mb-1"><%= d.desc %></p>
        <small>
          Addresses:
          <%= d.addresses.reject { |a| a.ref_id.blank? }.map { |a| [a.road_number, a.road_name, a.direction, a.road_type].compact.join(" ") }.join(", ") %>
        </small>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-center mt-4 mb-5">
    <%= link_to "Load More", devapp_index_path(before_id: @devapps.last&.id), class: "btn btn-outline-primary" %>
  </div>
</div>
