<h1>Development Applications</h1>

<% 
@devapps.each do |d| 
  %>
  <p>
  <%= link_to(d.app_number, "/devapp/#{d.app_number}") %>
  <%= d.app_type %>: <%= d.desc %>.
    <ul>
    <% d.addresses.each do |a| %>
      <% next if a.ref_id == "" %>
      <li
        class="devapp-address-list-item"
        data-devapp-id="<%= d.id %>"
        data-devapp-number="<%= d.app_number %>"
        data-latitude="<%= a.lat %>"
        data-longitude="<%= a.lon %>"
      >
      <%= [a.road_number, a.road_name, a.direction, a.road_type].compact.join(" ") %>
      </li>
    <% end %>
    </ul>
  </p>
  <hr/>
  <% 
end
%>

<center>
<%= link_to "More...", devapp_index_path(before_id: @devapps.last&.id) %>
</center>
