<% content_for(:html_title, "#{@entry.app_number} - Development Application") %>
<h1><%= @entry.app_number %></h1>
<table border="1">
<tr><th>Number</th><td><%= @entry.app_number %></td></tr>
<tr><th>Type</th><td><%= @entry.app_type %></td></tr>
<tr><th>Indexed</th><td><%= @entry.created_at %></td></tr>
<tr><th>Description</th><td><%= @entry.desc %></td></tr>
<tr><th>External</th><td><%= link_to("View application on ottawa.ca", "https://devapps.ottawa.ca/en/applications/#{@entry.app_number}/details") %></td></tr>

<tr>
  <th>Status</th>
  <td>
    <ul>
    <%
    @entry.statuses.each do |a|
      %>
      <li><%= a.slice(:created_at, :status).values.join(" ") %></li>
      <%
    end
    %>
    </ul>
  </td>
</tr>
<tr>
  <th>Addresses</th>
  <td>
    <ul>
    <%
    @entry.addresses.each do |a|
      %>
      <li><%= a.slice(:road_number, :road_name, :road_type, :direction, :municipality).values.join(" ") %></li>
      <%
    end
    %>
    </ul>
  </td>
</tr>
<tr>
  <th>City Staff Contact</th>
  <td>
    <%= @entry.planner_first_name %> <%= @entry.planner_last_name %><br/>
    <a href="mailto:<%= @entry.planner_email %>"><%= @entry.planner_email %></a><br/>
    <a href="tel:<%= @entry.planner_phone %>"><%= @entry.planner_phone %></a><br/>
  </td>
</tr>
<tr>
  <th>Documents</th>
  <td>
    <ul>
    <%
    @entry.documents.each do |d|
      %>
      <li>
      <%= link_to(d.name.gsub(@entry.app_number, " "), d.url) %>
      <%
      if !%w(200 302).include?(d.state)
        %>
        (<span style="color: #ff0000">Missing/broken document: <%= d.state %></span>)
        <%
      end
      %>
      </li>
      <%
    end
    %>
    </ul>
  </td>
</tr>
</table>