<h3><%= @meeting.committee.name %></h3>

<div class="row">
  <div class="col-sm-4">
    <b>Meeting Time:</b> <%= @meeting.start_time.in_time_zone("America/New_York").strftime("%B %d at %H:%M")%>
  </div>
  <div class="col-sm-4">
    <b>Contact:</b>
    <%= @meeting.contact_name %><br/>
    <a href="mailto:<%= @meeting.contact_email %>"><%= @meeting.contact_email %></a><br/>
    <a href="tel:<%= @meeting.contact_phone %>"><%= @meeting.contact_phone %></a>
  </div>
  <div class="col-sm-4">
    <a href="https://app05.ottawa.ca/sirepub/mtgviewer.aspx?meetid=<%= @meeting.reference_id%>&doctype=AGENDA">View on ottawa.ca</a>
  </div>
</div>

<% if @meeting.items.any? %>
  <h3>Items</h3>
  <ul>
  <% @meeting.items.each do |item| %>
    <li>
      <a href="https://app05.ottawa.ca/sirepub/agdocs.aspx?doctype=agenda&itemid=<%= item.reference_id %>"><%= item.title %></a>
    </li>
  <% end %>
  </ul>
<% end %>

<h3>Agenda</h3>
<i>(note: this section doesn't work on mobile; blame the city)</i>
<iframe
  src="https://app05.ottawa.ca/sirepub/mtgviewer.aspx?meetid=<%= @meeting.reference_id%>&doctype=AGENDA"
  style="width: 100%; height: 2000px;"
></iframe>